* {
   outline: none;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   background-color: #f4eaf2;
   text-decoration: none;
}
.center {
   padding-left: calc(50% - 400px);
   padding-right: calc(50% - 400px);
   text-align: center;
   flex-direction: column;
   gap: 20px;
}
h1 {
   font-size: 38px;
   margin-top: 50px;
   text-align: center;
}
.center__box {
   border: 2px solid black;
   width: 800px;
   text-align: center;
   flex-direction: column;
   margin-top: 30px;
   padding: 10px;
   display: flex;
   box-shadow: 7px 5px 5px rgb(227, 206, 206);
}
.center__link {
   margin-top: 50px;
}
img {
   width: 100%;
   margin-top: 30px;
   margin-bottom: 20px;
}
.center__link {
   margin-top: 10px;
   margin-bottom: 30px;
   color: rgb(210, 7, 7);
}